workflows/NOC Match MVP.json
{
  "name": "NOC Match MVP",
  "nodes": [
    {
      "parameters": {
        "path": "your-webhook-id",
        "formTitle": "Upload Resume",
        "formDescription": "Upload your Resume PDF here",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Resume_PDF",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -768,
        0
      ],
      "name": "On form submission",
      "webhookId": "your-webhook-id",
      "id": "ddf40b8f-b6ab-4234-a3e3-d6da25d86982"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume_PDF",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -544,
        0
      ],
      "name": "Extract from File",
      "id": "24ed6202-8a24-40e2-9444-1e70f1631860"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a specialized AI resume parser that extracts detailed candidate information for Canadian immigration advisory.\n\n<ROLE>\nYou act as a precise data extractor focused on resume analysis for immigration suitability.\n\n<TASK>\nGiven the input resume text, extract and structure the following fields:\n- Full Name\n- Contact Email Address (verify format)\n- Location (city and country)\n- Education (degree, institution, dates)\n- Jobs: for each role extract Job Title, Employer Name, Start/End Dates, Job Description\n- Key Skills & Competencies relevant to Canadian NOC codes\n- Languages Spoken (if listed)\n- Certifications & Awards\n- Volunteer work or notable affiliations\n\nFor each job role, also recommend the best matching Canada NOC 2021 code with TEER level and a short justification.\n\n<INPUT>\nResume Text:\n{{$node[\"Extract from File\"].json[\"text\"]}}\n\n<OUTPUT>\nProvide a JSON object with keys:\n- full_name\n- email\n- location\n- education (array)\n- jobs (array with NOC info)\n- skills\n- languages\n- certifications\n- volunteer_work\n\nIf any field is unknown or missing, assign null but do not omit it.\n\nPlease ensure the **email** field is accurately extracted for notification purposes.\n\n---\n\nThank you.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ],
      "name": "AI Agent",
      "id": "b5ad37a0-c898-4585-ac05-1f2fafb8c7b0"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -320,
        224
      ],
      "name": "OpenRouter Chat Model",
      "id": "1ce31f9a-feb9-4838-a9bc-825e9af63419",
      "credentials": {
        "openRouterApi": {
          "id": "fSIW6LP1RuA32Hog",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$workflow.id}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -192,
        224
      ],
      "name": "Postgres Chat Memory",
      "id": "0d367f19-0735-4ea1-b713-ffa80bee2363",
      "credentials": {
        "postgres": {
          "id": "sjz9uJlsakAL46Xk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawOutputText = $json.output || ($json.raw_profile ? $json.raw_profile.output : null);\n\nif (rawOutputText) {\n  const jsonStart = rawOutputText.indexOf('``````');\n\n  if (jsonStart !== -1 && jsonEnd !== -1 && jsonEnd > jsonStart) {\n    const jsonString = rawOutputText.substring(jsonStart + 7, jsonEnd).trim();\n    try {\n      const parsedJson = JSON.parse(jsonString);\n      return [{ json: parsedJson }];\n    } catch (e) {\n      throw new Error(\"Error parsing JSON string: \" + e.message);\n    }\n  }\n}\n\nreturn [{ json: $json }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        0
      ],
      "name": "Code",
      "id": "a93eed6c-3a17-40a6-827a-ede658d7324f"
    },
    {
      "parameters": {
        "jsCode": "const profile = $json;\n\nconst email = profile.email || null;\nconst jobsJson = JSON.stringify(profile.jobs || []);\nconst noc_codes = (profile.jobs || []).map(j => j.noc_code?.code || j.noc_code || null).filter(Boolean);\nconst education = JSON.stringify(profile.education || []);\nconst skills = JSON.stringify(profile.skills || []);\nconst certifications = JSON.stringify(profile.certifications || []);\nconst recommendation_text = profile.recommendation_text || null;\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    email,\n    resume_data: JSON.stringify(profile),\n    noc_codes: JSON.stringify(noc_codes),\n    education,\n    skills,\n    certifications,\n    recommendation_text,\n    timestamp\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        0
      ],
      "name": "Code1",
      "id": "6eda7fd0-a8ff-4565-b54e-75a13076aedb"
    },
    {
      "parameters": {
        "tableId": "immigration_advisories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "resume_data",
              "fieldValue": "={{$json.resume_data}}"
            },
            {
              "fieldId": "noc_codes",
              "fieldValue": "={{$json.noc_codes}}"
            },
            {
              "fieldId": "recommendation_text",
              "fieldValue": "={{$json.recommendation_text}}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{$json.timestamp}}"
            },
            {
              "fieldId": "={{ $json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        0
      ],
      "name": "Log Advisory to Supabase",
      "id": "ac07019f-ab7e-4c71-a06a-07499a9ccebb",
      "credentials": {
        "supabaseApi": {
          "id": "Es2yT4eNptcP5JHM",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Log Advisory to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e382aa16-c309-456d-b4b7-83b0ffeac72d",
  "meta": {
    "instanceId": "b3398227427234397588ecb0e39c75fdbe7391b3b1893a085901f207d8f46554"
  },
  "id": "2MT66p5yJawdyjVX",
  "tags": []
}